doctype html
html(lang="en")

  head
    
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")

    
    link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi", crossorigin="anonymous")

    title Doktor Kaydet

  body
    .container
      h3 Doktor Bilgileri
      hr

      p.h4.mb-4 Doktor Kaydet

      form(action="/yonetici/kaydetDoktor", method="POST")
        
        input(type="hidden", name="doktorId", value="")
        input(type="text", name="ad", class="form-control mb-4 w-25", placeholder="Ad")
        input(type="text", name="soyad", class="form-control mb-4 w-25", placeholder="Soyad")
        input(type="text", name="uzmanlikAlani", class="form-control mb-4 w-25", placeholder="Uzmanlık Alanı")
        input(type="text", name="calistigiHastane", class="form-control mb-4 w-25", placeholder="Çalıştığı Hastane")
        button.btn.btn-info.col-2(type="submit") Kaydet

      hr
      a(href="/yonetici/doktorlar") Doktor Listesine Git
